* {box-sizing: border-box;}

#gameStart {
    text-align: center;
    cursor: pointer;
}
#gameData {
    display: none;
}
#gameField {
    position: relative;
}
#cards {
    width: 70%;
    /* display: flex;
    justify-content: space-between; */
    position: relative;
}
.lowestCard {
    position: absolute;
    left: 0;
}
.highestCard {
    position: absolute;
    right: 0;
}
.fletchedCard {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#buttons {
    display: none;
    position: absolute;
    bottom: -10px;
}